{% extends 'base.html' %}

{% block content %}

<h1 class="font-bold text-5xl">Welcome to the Crossword Exercise</h1>
<h3>The Clue is of length {{ clue_length }} and is from the {{ clue_puzzle }}.</h3>
<a href="{% url 'xword-answer' clue_id=clue_id %}"><p class="float-right">Stumped? View Answer</p></a>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="clue_id" value="{{clue_id}}" />
    {{form}}
    <input type="submit" value="Guess">
</form>
<section>
    {% if message %}
    <p class="font-bold text-2xl">{{ message }}</p>
    {% endif %}
</section>
{% endblock content %}